@page "/"

@using ProvocareKioskBlazor.Components
<h1 style="color:red; font-weight: bold">Meniu Gyros</h1>
<MeniuGyros></MeniuGyros>
<h1 style="color:red; font-weight: bold">Pizza</h1>
<MyProductCard></MyProductCard>
<h1 style="color:red; font-weight: bold">Gyros</h1>
<h1 style="color:red; font-weight: bold">Burger</h1>

<AllCards></AllCards>
<Footer></Footer>


