<div class="footer bg-blue-700 py-4 fixed bottom-0 w-full">
    <div class="container mx-auto flex justify-between items-center">
        <p class="text-red text-lg font-semibold">Footer content</p>
        <p class="text-red text-sm">© 2024 All rights reserved</p>
    </div>
</div>


@code {

}